*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: "Gilroy";
}

html,body{
    width: 100%;
    height: 100%;
}

#main1{
    width: 100%;
}
#main{
    width: 100%;
    min-height: 100vh;
    background-image: url("header.png");
    border-top: 1px solid transparent;  
}
#fixed{
    width: 100%;
    height: 60px;
    position: fixed;
    z-index: 999;
}
#fixed #nav{
    display: flex;
}
#logo{
   width: 40%;
    height: 60px;
    padding:  10px 30px;
    background-color: rgba(0, 0, 0, 0.644);
}
#logo1 #ion{
    position: absolute;
    left: 3%;
    top: 2%;
    display: initial;
    width: 50px;
}
#logo img{
    display: none;
    width: 80px;
}
#logo h3{
    position: absolute;
    left: 8%;
    top: 28%;
    color: white;
    margin-right: 20px;
    letter-spacing: 3px;
}
#logo h3 span{
    color: #FFA500;
}

#header{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 60%;
    height: 60px ;
    padding:  1.875em 1.25em;
    background-color: rgba(0, 0, 0, 0.644);
}
#header a{
    text-decoration: none;
    color: #fff;
    font-family: "Gilroy";
    font-weight: 500;
}
.b:hover{
    background-color: #FFA500;
    height:28px;
    border: 2px solid  #FFA500; 
}
#meun   {
    display: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
}
#menubar{
    position: absolute;
    right:2%;
    top: 12%;
    z-index: 999;
}
#menu {
    display: none;
    width: 150px;
    height: 200px;
   background-color: rgb(0, 0, 0);
}

#menu .links{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 15px;
    
}
#menu .links a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-transform: capitalize;
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    
}
.links a:hover{
    background-color: #FFA500;
}
#first{
  width: 100%;
   min-height: 60vh;
   margin-top:70px;
   display: flex;
   justify-content: space-evenly;
   /* background-color: rgb(158, 22, 22); */
   padding: 30px 90px;
}
#post img{
    width: 450px;
    padding: 30px  20px;
}
#c {
    display: none;
}
#btn{
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 180px;
    height: 45px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: #0E0533;
    color: white;
    font-family: "Gilroy";
    font-weight: 400;
    letter-spacing: 1.5px;
    font-size: 16px;
    border: 4px solid white;
}

#close i{
   
    position: absolute;
    top: 1%;
    right: 0%;
    color: rgb(97, 11, 11);
    z-index: 999;
    font-size: 25px;
}
#topimg{
    display: none;
    position: absolute;
    top: 4.5%;
    left: 28%;
}
#topimg h1{
    font-size: 16px;
    color: white;
    letter-spacing: 2px;
}
#topimg h1 span{
    color:#FFA500;
}







@media (max-width: 550px){
    
    #logo{
        background-color: transparent;
        padding: 10px 15px;
    }
     #fixed {
        position: initial;
    }
    #logo h3{
        display: none;
    }
    #logo img{
        display: initial;
        width: 65px;
    }
    #header{
        background-color: transparent;
    }
    #header a{
        display: none;
    }
    #meun {
        display: initial;
        margin-left: 150px;
        margin-top: 25px;
    }
    #first{
        flex-direction: column;
        padding: 20px 20px;
        margin-top: 115px;
    }
    #post img{
        width: 300px;
        margin-left: 0px;
        padding: 10px 20px;
    }

    #fixed {
        width: 100%;
        height: 20px;
    }
    #topimg{
        display: initial;
    }
    #logo1 #ion{
       display: none;
 
    }
    #c{
        display: initial;
    }
    #btn {
        left: 50%;
        top: 17%;
        width: 154px;
        height: 41px;
        font-weight: 400;
        letter-spacing: 1.5px;
        font-size: 13px;
        
        border: 3px solid white;
    }
}
