*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: "Gilroy";
}

html,body{
    width: 100%;
    height: 100%;
}
#third{
    width: 100%;
    min-height: 100vh;
    /* background-color: blue; */
}
#section2{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70vh;
    background-color: rgba(255, 204, 204, 0.568);
    padding: 20px 20px;
    
}
.container2{
    display: inline-block;
    width: 240px;
    height:480px;
    background-color: white;
    margin-left: 15px;
}
.top2{
    width: initial;
    height: 240px;
    background-color: black;
}
.name{
     width: initial;
    height: 240px;
    background-color: rgb(255, 255, 255);
    padding-top: 50px;
}
.top2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.name h4{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    margin-bottom: 10px;
}
.name h6{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 600;
    margin-bottom:20px ;
}
.int{
    position: relative;
    left: 13%;
    padding-top: 50px;
}
.int button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 176px;
    /* border: 2px solid black; */
    background-color: black;
    font-size: 18px;
    font-family: "Ogg";
    letter-spacing:2px;
    color: rgb(255, 255, 255);
}
@media(max-width: 550px){
    #section2 {
       min-width: 100vh;
       white-space: nowrap; 
       overflow-x: auto;
       padding: 20px 0px;
    }
    .container2{
        display: inline-block;
        white-space: nowrap; 
     }
     .int button{
        width: 153px;
        font-size: 14px;
     }
}